body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    color: white;
    min-height: 100vh;
    background-color: #28292a;
}

a {
    color: white;
    font-size: 25px;
}

.sec2 {
    text-align: center;
    flex: 1;
    /* background-color: bisque; */
}

#title {
    font-size: 72px;
    font-weight: 50;
    color: white;
}

.heading {
    display: flex;
    /* background-color: beige; */
    padding: 30px;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

#footer {
    display: flex;
    margin-top: auto;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    background-color: #202124;
    padding: 20px;
}

#bar {
    border-radius: 100px;
    margin: 20px;
    color: white;
    border-width: 1px;
    width: 500px;
    height: 40px;
}

#search {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button {
    font-size: 17px;
    border-width: 0;
    padding: 16px;
    margin: 11px 4px;
    border-radius: 4px;
    color: white;
    background-color: #3c4043;

}

.button:hover {
    background-color: #28292a;
}



input[type="text"] {
    width: 50%;
    padding-left: 15px;
    margin: 5px;
    background-color: #3c4043;
}

h2 {
    font-weight: 20;
    font-size: 20px;
}